/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
    height: 100% !important;
}

html, body, #app {
  overflow: hidden;
}
#map {
    width: 96%;
    height: 98%;
    border-radius: 14px;
    margin: 0 2%;
}

#float{
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 999;
    background: #fff;
    bottom: 0;
}

.splash {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background: #01579b url('./../img/longinus.svg') center center no-repeat;
    background-size: 50%;
    background-position: 50% 45%;
    bottom: 0;
}

  .spinner {
    background: #01579b;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 70%;
    right: 47%;
    border: 5px solid #01579b;
    border-radius: 15px;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

.imgLogo {
    height: 44px;
}

.h-app {
  height: calc(100% - 60px) !important;
}

.map-info {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 999;
}

.map-coords {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;

}

.coords-info {
    background: #fff;
    margin: 3%;
    border-radius: 14px;
}

button {
  border-radius: 8px;
}

.img-menu{
  height: 32px;
  padding: 8px 3px 0 0;
}